<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Criar Missão</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>

<header>
    <h1>Nova Missão 🎯</h1>
    <nav>
        <a href="/ninjas/ui/listar">👥 Ver Ninjas</a>
        <a href="/missoes/ui/listar">📜 Ver Missões</a>
    </nav>
</header>

<div class="form-container">
    <form th:action="@{/missoes/ui/criar}" th:object="${missao}" method="post">
        <label>Nome da Missão:</label>
        <input type="text" th:field="*{nomeDaMissao}" required>

        <label>Dificuldade:</label>
        <input type="text" th:field="*{dificuldade}" required>

        <button type="submit" class="btn">✅ Criar Missão</button>
    </form>
</div>

</body>
</html>
