<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Missão</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <h1>✏️ Editar Missão - Vila Oculta da Folha 🍃</h1>
</header>

<div class="form-container">
    <form th:action="@{'/missoes/ui/editar/' + ${missao.id}}" method="post" th:object="${missao}">
        <input type="hidden" th:field="*{id}"/>

        <label>Nome da Missão:</label>
        <input type="text" th:field="*{nomeDaMissao}" required/>

        <label>Dificuldade:</label>
        <input type="text" th:field="*{dificuldade}" required/>

        <button type="submit">💾 Salvar Alterações</button>
        <a th:href="@{/missoes/ui/listar}" class="btn">🔙 Voltar</a>
    </form>
</div>

</body>
</html>
